
body{
    background-color: #24353F; 
}


.login{
    background-color: #24353F; 
    box-shadow:0 0 25px black;
    color: #17A2AD;
}


input{
 
    background-color: transparent !important;
    border-color: white !important;
    color: white !important;
}

p , a{
    color: white ;
}

